<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HomePage</title>
        <link rel="stylesheet" type="text/css" href="/css/homepage.css">
    </head>
    

    <body>
        <!-- MENU BAR -->
        <nav class="menu-bar">
            <a href="/"> Home </a>  <!-- This is the homepage-->
        </nav>

        <!-- ------- -->


        <!-- CONTENTS HERE -->
        <h2> Solution For Pollution </h2>




        <!-- ------------- -->


        <script src="/public/homepage.js"></script>
    </body> 


    <footer>

    </footer>
</html>