<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HomePage</title>
        <link rel="stylesheet" type="text/css" href="/css/homepage.css">
    </head>
    

    <body>
        <!-- MENU BAR -->
        <nav class="menu-bar">
            <a href="/"> Home </a>  <!-- This is the homepage-->
            <a href="/teams"> Teams </a>  <!-- This is the teams page  -->
        </nav>
        <!-- ------- -->


        <!-- CONTENTS HERE -->
        <h1> Solution For Pollution </h1>

        <h3> Teams: </h3>

        <h3> Sarah Reine Bulatao </h3>

        <h3> Thao Chung (Chloe) </h3> 

        <h3> Afraz Hameed </h3>

        <h3> Minh Pham </h3>

        <h3> ECE 196 FALL 2024 </h3>

        <img 
            class="fit-picture"
            src="pictures/UCSanDiegoLogo-BlueGold.png" 
            width="400px"
            alt="UCSD Logo"/>

        <h3> Short Description of Project </h3>

        <h3> Problem</h3>

        <p> Short description for PROBLEM..... </p>

        <h3> Solution </h3>

        <p> Short desciption for SOLUTION.....</p>


        <!-- ------------- -->


        <script src="/public/homepage.js"></script>
    </body> 


    <footer>
        <img 
            class="fit-picture"
            src="pictures/UCSanDiegoLogo-BlueGold.png" 
            width="200px"
            alt="UCSD Logo"/>
    </footer>
</html>